{{#article}}
    <article>
        <h1>{{name}}</h1>
        <p>{{published}}</p>
        <p>
            Author: 
            <a href = "/author/{{author_id}}">
                {{author_name}}
            </a>
        </p>
        <div id="article-controls">
            <!--<a class="btn" href="/article/edit/{{id}}">Edit Article</a>-->
            <a class="btn" href="/article/delete/{{id}}" onclick="return confirm('Delete article {{name}}?')">Delete Article</a>
        </div>
        <p><img src="/images/{{image}}"></p>
        {{{body}}} 
    </article>
{{/article}}
