<h1>{{#if edit}}Edit article{{else}}Create article{{/if}}</h1>

<form method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Article name" value="{{article.name}}" required>

    <label for="slug">Slug</label>
    <input type="text" name="slug" id="slug" placeholder="Article slug" value="{{article.slug}}" required>

    <label for="image">Image</label>
    <input type="text" name="image" id="image" placeholder="Article image" value="{{article.image}}" required>

    <label for="author_id">Author ID</label>
    <input type="text" name="author_id" id="author_id" placeholder="Article author ID" value="{{article.author_id}}" required>

    <label for="body">Body</label>
    <textarea name="body" id="body" placeholder="Article body">
        {{article.body}}
    </textarea>

    <button>Publish</button>
</form>